:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* media query 50vh for ipad screens ??? idk its buggy */
}

.account-form {
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 15rem;
}

.account-form input {
    height: 2rem;
    background-color: var(--input-bg);
    border: none;
    color: white;
}

.account-form button {
    cursor: pointer;
    background-color: var(--btn-bg);
    color: white;
    height: 2rem;
    border: none;
}

::placeholder {
    color: white;
    opacity: 50%;
}

.credits {
    color: white;
    margin-left: 50px;
}