.field {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}   

.nav{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 250px;
}

.btn{
  background-color: var(--btn-bg);
  border: 0px white solid;
  color: white;
  padding: 10px ;
  cursor: pointer;
}